
# HTID:10962691: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
#Redirect 301 /imagenes https://sergio-odero.000webhostapp.com/index.php


# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:10962691:
